<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purry Boutique</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Your cart</h1>
    <% if (cart.length > 0) { %>
    <div class="product-list">
        <% cart.forEach(product => { %>
            <div class="product">
              <h2><%= product.name %></h2>
              <img src="<%= product.image %>" alt="<%= product.name%>" />
              <p>Category: <%= product.category %></p>
              <p>Price: Kshs<%= product.price %></p>
              <p>Stock: <%= product.stock %> available</p>
              <form action="/checkout" method="POST">
                <button type="submit">Proceed to Checkout</button>
            </form>
            </div>
       <% }) %>
    </div>
   
   <% } else { %>
<p>Your cart is empty.</p>
<% } %>
<a href="/products">Continue Shopping</a>
  </body>
</html>
